.repo-view{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.el-pagination{
  margin: 15px 0;
}
.title{
  font-weight: normal;
  font-size: 25px;
  margin: 20px 0 25px 0;
}