<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonos.tracker.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dragonos.tracker.pojo.Project">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="full_name" property="fullName" />
        <result column="html_url" property="htmlUrl" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="license" property="license" />
        <result column="forks_count" property="forksCount" />
        <result column="stargazers_count" property="stargazersCount" />
        <result column="watchers_count" property="watchersCount" />
        <result column="pr_num" property="prNum" />
        <result column="issue_num" property="issueNum" />
        <result column="hot" property="hot" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, full_name, html_url, description, created_at, updated_at, license, forks_count, stargazers_count, watchers_count, pr_num, issue_num, hot
    </sql>

</mapper>
